.header{
	height: 100px;
}
.center{
	margin: 0 auto;
}
.result-box{
	margin-top: 40px;
}
.jumbotron{
	background-color: transparent;
	text-align: center;
}
.footer{
	padding-top: 3rem;
	padding-bottom: 2rem;
	position: absolute;
	bottom: 0;
	text-align: center;
}
